passwd
*.kdev4
.kdev4
*.dep
*.o
MeSHWeb/resources
MeSHImport/cpp-elasticsearch/
MeSHWeb/cpp-elasticsearch
ParseTreeStructure/cpp-elasticsearch
MeSHImport/MeSHImport
MeSHWeb/MeSHWeb
ParseTreeStructure/ParseTreeStructure
nordesc*.xml
NOR_tree_structure*
*.pem
